* {
    margin: 0;
}

.Header {
    height: 52px;
    width: 1024px;
    gap: 30px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}

header h1 {
    width: 120px;
    height: 25px;
    top: 11px;
    left: 52px;
    font-style: inter;
    color: #111;
    font-weight: 800;
    font-size: 22px;
    border: 3px solid white;
    padding: 0px 0px;
}

.acceuil-items {
    height: 52px;
    width: 1020px;
    list-style: none;
    display: flex;
    gap: 22px;
    align-items: center;
    color: black;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.acceuil-items a {
    color: #08111D;
    align-items: center;
    text-decoration: none;

}

.search-icon {
    opacity: 1;
    font-family: 'inter';
    font-weight: 900;
    font-style: Bold;
    font-size: 40px;
    line-height: 120%;
    background: none;
    border: none;
}

.nav-btn-countent {
    display: inline-block;
    background-color: #1557ff;
    padding: 5px 50px;
    opacity: 1;
    border-radius: 5px;
}

.nav-btn-countent a {
    color: #fff;
    font: 'inter';
    font-weight: 700;
    font-size: 12px;
    font-style: bold;
}

main {
    width: 1175px;
    background-color: #08121E;
    height: 461px
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0px;
}

.left-box {
    width: 58;
    height: 461px;
}

.right-box img {
    width: 589px;
    height: 461 px;
    left: 435px;
    top: 0px;
    border-radius: 0px;
    margin-left: auto;
    border-radius: 0px;
    border-radius: none;
}

.campus {
    opacity: 1px;
    color: #fff;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;
    padding-left: 60px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.life {
    opacity: 1px;
    padding-left: 60px;
    padding-top: 0px;
    color: #1557ff;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.symbol {
    padding-left: 54px;
    opacity: 1px;
    color: yellow;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: black;
    font-size: 66px;
}

.heading-h2 {
    padding-left: 61px;
    padding-top: 0px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 800;
    padding-top: 0px;
}

.hero-parapgraph {
    color: #fff;
    padding-left: 61px;
    padding-top: 0px;
    padding-bottom: 30px;
    font: 'inter';
    font-weight: 400;
    font-style: 'regular';
    font-size: 14px;
    line-height: 120%;
}

.hero-btns {
    padding-left: 61px;
    border: none;
    align-items: center;
}

.box-2 {
    margin-left: 40px;
}

.descover-btn {
    width: 184px;
    height: 42px;
    top: 334px;
    left: 61px;
    opacity: 1;
    border-radius: 5px;
    background-color: #1557ff;
    border: none;
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.enve-btn {
    width: 184px;
    height: 42px;
    top: 334px;
    left: 61px;
    opacity: 1;
    border-radius: 5px;
    background: transparent;
    border-color: #1557ff;
    color: #fff;
    font-family: 'Inter';
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;


}