* {
    margin: 0;
}

.Header {
    height: 52px;
    width: 1024px;
    gap: 30px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}

header h1 {
    width: 120px;
    height: 25px;
    top: 11px;
    left: 52px;
    font-style: inter;
    color: #111;
    font-weight: 800;
    font-size: 22px;
    border: 3px solid white;
    padding: 0px 0px;
}

.acceuil-items {
    height: 52px;
    width: 1020px;
    list-style: none;
    display: flex;
    gap: 22px;
    align-items: center;
    color: black;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.acceuil-items a{
    color: #08111D;
    align-items: center;
    text-decoration: none;

}

.search-icon {
    width: 42px;
    height: 36px;
    opacity: 1;
    top: 12px;
    left: 810px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 120%;
    background-color: #fff;
    border: none;
}

.nav-btn-countent {
    display: inline-block;
    background-color: #1557ff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 16px;
    padding: 16px 30px;
    white-space: nowrap;
}
main{
    width: 1175px;
    background-color: #08121E;
    height: 461px

}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0px;
}

.left-box {
    width: 58;
    height: 461px;
}

.right-box img{
    width: 589px;
    height: 461 px;
    left: 435px;
    top: 0px;
    border-radius:0px;
    margin-left: auto;
    border-radius: 0px;
    border-radius: none;
}

.campus {
    width: 470px;
    height: 91px;
    opacity: 1px;
    color: #fff;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;
    padding-left:60px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.life{
    width: 470px;
    height: 91px;
    opacity: 1px;
    padding-left:60px;
    padding-top: 0px;
    color :#1557ff;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
.symbol{
    opacity: 1px;
    color :yellow;
    font-style: normal;
    font-family: 'inter';
    font-size: 76px;
    font-weight: 900;
    line-height: 120%;
    padding-left: 70    px;

}